# Pure data processing:

- Merge 4 datasets
- Create columns for every keyword
- Take the "unemployment Google searches" keyword, remove the first 2 rows of unemployment, slide the rest of the data to fill that holes

In [1]:
import pandas as pd

In [22]:
df_political=pd.read_csv("./input/dashboard_spanish_news_political.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_political.sort_values(by=["Date"],inplace=True)

df_economical=pd.read_csv("./input/dashboard_spanish_news_economical.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_economical.sort_values(by=["Date"],inplace=True)

df_social=pd.read_csv("./input/dashboard_spanish_news_social.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_social.sort_values(by=["Date"],inplace=True)

df_google=pd.read_csv("./input/data_pytrends.csv")
df_google.sort_values(by=["date"],inplace=True)

### Dataset structures:

- Requested data from BigQuery (df_political/social/economical): Every different keyword in **political** will be a column with its associated sentiment
- The same for google searches: Every different keyword will be a column with its associated trend_index.
- All df will be resampled and grouped by date to have a weekly display with the corresponding average of **sentiment** or **trend_index**

In [23]:
df_political.head()

                    political        Date  Sentiment
15773                  juicio  2019-01-01       0.18
52050      seguridad_nacional  2019-01-01      -6.55
52051      seguridad_nacional  2019-01-01      -1.43
52052      seguridad_nacional  2019-01-01      -1.43
53246  inestabilidad_politica  2019-01-01      -0.30

In [24]:
# google searches
df_google.columns

Index(['Unnamed: 0', 'keyword', 'date', 'trend_index'], dtype='object')

In [25]:
df_google.drop(columns='Unnamed: 0', inplace=True)
df_google.rename(columns={'date':"Date"}, inplace=True)
df_google.head()

            keyword        Date  trend_index
0              zoom  2019-01-06            5
1410          bildu  2019-01-06            3
6204      uber eats  2019-01-06           10
4982         medico  2019-01-06           89
2632  productividad  2019-01-06           39

### Let's do it

In [18]:
df_google=df_google.sort_values(by=["Date"])

In [19]:
df=pd.DataFrame()

In [20]:
df["Date"]=list(set(df_google.Date))

In [21]:
df.sort_values(by=["Date"])

0     2019-05-19
1     2019-03-10
2     2020-04-26
3     2019-10-27
4     2020-02-16
         ...
89    2019-12-01
90    2019-12-08
91    2020-02-02
92    2020-08-09
93    2019-11-03
Name: Date, Length: 94, dtype: object