# ML regression with L1

- Under construction

In [104]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [105]:
df=pd.read_csv("input/dataset_final_processed.csv")

- I have all this columns to play with, and I'm going to infer the column "unemployment"

In [120]:
df.drop(columns='Unnamed: 0', inplace=True)

In [124]:
print("I have ", len(df.columns), " columns to play with")#columns=list(df.columns)

I have  132  columns to play with

In [107]:
df.tail()

,date,protestas_x,extremismo_x,rebelion_x,refugiados_x,precio_petroleo_x,juicio_x,corrupcion_x,inestabilidad_politica_x,terrorismo_x,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
89,2020-10-11,-7.955000,-4.300,-4.933333,-3.205,0.0,-44.481429,-53.120000,-7.48,-3.300000,...,100.0,88.0,45.0,75.0,17.0,7.0,8.0,47.0,22.0,30.0
90,2020-10-18,-10.885714,-4.375,-2.670000,-3.600,0.0,-57.642857,-28.765714,0.00,-7.586000,...,43.0,88.0,48.0,90.0,17.0,8.0,10.0,46.0,20.0,27.0
91,2020-10-25,-15.368000,-3.420,0.000000,-3.880,0.0,-73.910000,-18.664286,-39.07,-4.770000,...,24.0,82.0,46.0,91.0,10.0,5.0,8.0,45.0,20.0,0.0
92,2020-11-01,-6.241667,0.000,-1.250000,-4.330,0.0,-39.984286,-30.545714,-14.97,-3.846667,...,38.0,90.0,47.0,100.0,8.0,7.0,11.0,42.0,18.0,0.0
93,2020-11-08,-8.295000,0.000,-4.800000,-0.665,0.0,-103.931667,-36.138571,-3.99,-5.055000,...,25.0,82.0,47.0,99.0,13.0,7.0,11.0,39.0,21.0,0.0

# Normalise

- This dataset is composed by datasets with a concrete range, and other dataset with a different scale. Let's normalise it

- I will not play with date column, I think there's pointless for a linear regression with my range of time, and without NN, so I'll keep it out of calculations

- Later i will append the *date* column, for dashboarding

In [113]:
to_normalise = df.drop(columns="date").values #returns a numpy array

In [114]:
min_max_scaler = preprocessing.MinMaxScaler()
normalised = min_max_scaler.fit_transform(to_normalise)
df_normalised = pd.DataFrame(normalised)

In [115]:
df_normalised.columns = list(df.drop(columns="date").columns)

In [117]:
df_normalised.head()

,protestas_x,extremismo_x,rebelion_x,refugiados_x,precio_petroleo_x,juicio_x,corrupcion_x,inestabilidad_politica_x,terrorismo_x,vigilancia_x,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
0,0.996214,0.664755,0.800909,0.780032,0.730825,0.769507,0.656482,0.954669,0.434531,0.639233,...,0.010101,0.137255,0.064103,0.010989,0.010101,0.010101,0.308511,0.218750,0.020619,0.21
1,0.935711,0.929841,0.836342,0.701877,0.730825,0.000000,0.370734,0.904701,0.920235,0.231547,...,0.000000,0.039216,0.166667,0.065934,0.020202,0.000000,0.223404,0.125000,0.010309,0.23
2,0.620772,0.897496,0.758357,0.836825,1.000000,0.521520,0.603165,0.864611,0.000000,0.432890,...,0.010101,0.019608,1.000000,0.000000,0.020202,0.010101,0.106383,0.078125,0.000000,0.23
3,0.840955,0.911043,0.756033,0.848104,0.730825,0.519725,0.603634,0.902646,0.765359,0.833721,...,0.010101,0.058824,0.717949,0.021978,0.020202,0.020202,0.053191,0.203125,0.010309,0.23
4,0.864307,0.951443,0.742555,0.657297,0.730825,0.642659,0.580695,0.962960,0.831254,0.754015,...,0.000000,0.019608,0.230769,0.021978,0.020202,0.010101,0.074468,0.187500,0.010309,0.20

# Selecting best features

- Select the top20 columns to play with

In [89]:
# https://www.datacamp.com/community/tutorials/feature-selection-python

In [79]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [118]:
#array = df.values
X = df_normalised.drop(columns="unemployment").values
Y = df["unemployment"].values

In [126]:
# Feature extraction
test = SelectKBest(score_func=chi2, k=20)
fit = test.fit(X, Y)

# Summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)

features = fit.transform(X)
# Summarize selected features
#print(features[0:5,:])

[ 0.144  0.274  0.726  0.371  2.171  3.305  2.338  0.32   0.971  1.606
  0.888  2.454  0.144  0.274  0.726  0.371  2.171  3.305  2.338  0.32
  0.971  1.606  0.888  2.454  3.48   0.575  0.754  2.171  1.03   2.101
  1.     0.832  1.244  0.964  2.494  1.311  2.365  1.393  1.384  1.138
  0.513  5.523  0.135  1.282  1.662  0.181  0.865  0.415  2.115  2.281
 10.265  7.099 15.026  4.064 23.142  2.562 13.375  3.5    5.858  9.162
  6.958 21.6    5.393 28.22   4.812  4.427 33.745  3.737 15.22  28.575
 10.962 16.036  5.845 56.756  7.808 16.757  2.755  3.544  4.581 22.028
 14.464  6.471 28.509 38.812  4.851  3.211 13.615 24.863 29.088  7.139
  6.491  6.662  3.779  4.506  3.667  3.291  6.929  6.413  4.489 11.907
  6.888  5.411  3.598  9.387 15.074 24.094 11.663  4.038  5.123  5.938
  5.28   6.528  8.862  6.54   3.674  9.704  8.817 23.822 25.828 11.302
  8.076 22.952 10.93   1.963 10.508 28.551 36.026  5.548 23.731 33.857]

- https://www.datacamp.com/community/tutorials/feature-selection-python
- https://github.com/albertovpd/machine_learning_specialization_washington_university/blob/master/course_tasks/c2_regression-w1_quizz_1-basic_regression_math.ipynb
- https://github.com/albertovpd/machine_learning_specialization_washington_university/blob/master/course_tasks/c2_regression-w2_quizz_1-basic_multiple_regression.ipynb
- https://github.com/albertovpd/machine_learning_specialization_washington_university/blob/master/course_tasks/c2_regression-w3_quizz_1-exploring_variance_bias_tradeoff.ipynb
- https://github.com/albertovpd/machine_learning_specialization_washington_university/blob/master/course_tasks/c2_regression-w4_quizz_1-rigde_regression_and_validation_k-folds_method.ipynb
- https://github.com/albertovpd/machine_learning_specialization_washington_university/blob/master/course_tasks/c2_regression-w5_quizz_1-using_lasso_to_select_features.ipynb
- https://github.com/albertovpd/machine_learning_specialization_washington_university/blob/master/course_tasks/c2_regression-w5_quizz_2-lasso_with_coordinate_descent.ipynb