# PART I

-----------------------

# Creating the dataset to play with.

- Merge 4 datasets with different lenght by date
- Google searches dataset:
    - There are 3 columns: Date, keywords, and score, grouped by week. It needs to be structured like a column for each keyword, and rows with the score (the score will be the trend index of Google Trends).
    
- Spanish news (3 datasets):
    - There are 3 columns: Date, keyword and sentiment. The same keyword can appear many times the same day.
    - A column counting occurrences per day of a keyword must be created, also a column with mean sentiment per day.
    - Then a column called score will be created, multiplying occurrences * mean.
    - Then the final datset will be Date, as much columns as keywords, every column will have the score mentioned above as rows. Everything grouped by week.

In [1]:
import pandas as pd

In [2]:
df_political=pd.read_csv("./input/dashboard_spanish_news_political.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_political.sort_values(by=["Date"],inplace=True)

df_economical=pd.read_csv("./input/dashboard_spanish_news_economical.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_economical.sort_values(by=["Date"],inplace=True)

df_social=pd.read_csv("./input/dashboard_spanish_news_social.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_social.sort_values(by=["Date"],inplace=True)

df_google=pd.read_csv("./input/data_pytrends.csv",index_col=[0])
df_google.sort_values(by=["date"],inplace=True)

# Dataset previews:

- With news, I need to count occurrences, calculate the average of sentiment, multiply both to create a new column.

In [3]:
datasets_raw=[df_political, df_social, df_economical, df_google]
for d in datasets_raw:
    
    display(d.tail())
    column_list= d.columns
    print("Unique keywords: ", d[column_list[0]].unique(),"\n","\n",
         "Shape: ", d.shape,"\n","\n"
         )

      political        Date  Sentiment
55731    juicio  2020-12-20      -4.49
55735    juicio  2020-12-20      -1.08
55734    juicio  2020-12-20      -8.04
55732    juicio  2020-12-20      -6.47
55773  ejercito  2020-12-20      -1.78

Unique keywords:  ['juicio' 'ejercito' 'vigilancia' 'protestas' 'inestabilidad_politica'
 'seguridad_nacional' 'corrupcion' 'refugiados' 'rebelion' 'terrorismo'
 'extremismo' 'precio_petroleo']

 Shape:  (55899, 3)

                             social        Date  Sentiment
42788          emergencia_sanitaria  2020-12-20      -4.60
42787          emergencia_sanitaria  2020-12-20      -4.65
42786          emergencia_sanitaria  2020-12-20      -2.00
42797          emergencia_sanitaria  2020-12-20      -3.45
42877  enfermedades_muy_infecciosas  2020-12-20      -0.14

Unique keywords:  ['enfermedades_muy_infecciosas' 'vacunas' 'emergencia_sanitaria'
 'inmigracion' 'agresion_sexual' 'ciencia' 'emprendimiento'
 'precio_vivienda' 'energias_renovables' 'censura_en_medios' 'subsidios'
 'racismo']

 Shape:  (42878, 3)

                  economical        Date  Sentiment
100             stock_market  2020-12-20      -4.16
99              stock_market  2020-12-20      -1.71
98              stock_market  2020-12-20      -2.56
966  incertidumbre_economica  2020-12-20      -5.53
950  incertidumbre_economica  2020-12-20      -2.92

Unique keywords:  ['pobreza' 'incertidumbre_economica' 'stock_market'
 'macroeconomia_deuda_y_vulnerabilidad' 'desempleo'
 'job_quality_&_labor_market_performance' 'libre_comercio'
 'inflacion_economica' 'precio_petroleo' 'quiebra_economica'
 'crecimiento_economico' 'banco_mundial' 'finanzas_y_bancos'
 'prosperidad_economica_y_finanzas']

 Shape:  (160349, 3)

            keyword        date  trend_index
7139           yoga  2020-12-13           39
5915       examenes  2020-12-13           33
2243        podemos  2020-12-13           18
917   comparecencia  2020-12-13            4
8261     en familia  2020-12-13           62

Unique keywords:  ['zoom' 'yoga' 'crisis economica' 'badi' 'erte' 'vox' 'examenes'
 'refugiados' 'estado de alarma' 'psoe' 'idealista' 'paro' 'menu escolar'
 'meetic' 'uber' 'autonomo' 'bullying' 'hipoteca' 'sepe' 'taxi' 'hangouts'
 'corrupcion' 'tinder' 'en casa' 'clases online' 'piso barato' 'infeccion'
 'videollamada' 'pandemia' 'negocio online' 'crisis politica'
 'productividad' 'independentismo' 'videoconferencia' 'medico'
 'coronavirus' 'emprendimiento' 'cursos online' 'residencia ancianos'
 'skype' 'en familia' 'meditacion' 'barometro' 'remoto' 'desescalada'
 'comparecencia' 'teletrabajo' 'formacion' 'embarazo' 'pp' 'nacionalismo'
 'amazon' 'just eat' 'inmigracion' 'comedor social' 'compartir piso'
 'steam' 'mas pais' 'desempleo' 'uber eats' 'banco alimentos'
 'manifestacion' 'caritas' 'cruz roja' 'hbo' 'hacer deporte' 'pnv'
 'deshaucio' 'ayuda alquiler' 'podemos' 'disney' 'glovo' 'netflix'
 'deliveroo' 'bildu' 'ciudadanos' 'cabify' 'erc' 'divorcio' 'protesta'
 'compromis']

 Shape:  (8262, 3)

With Google searches, what we have is the Trending index. Score 100 means that from the requested period of time, in this week the maximum of occurrences were reached, and everything else get normalize by that peak. It is not possible to request the real number of occurrences.

# Data Processing

### Working with the Google dataset: 

- Creating a column for each keyword with the trend_index value.

I'm going to create a dataframe with the set of dates, and append the score of keywords to this dataset (kind of get dummies, but I can't do that, I have already the units I want for each column)

In [4]:
# creating df
df_google_dates=pd.DataFrame()

# creating the Date column in new dataset
df_google_dates["date"]=list(set(df_google["date"]))
df_google_dates["date"]=pd.to_datetime(df_google_dates["date"])
df_google_dates.sort_values(by=["date"],inplace=True)
df_google_dates.tail()

         date
51 2020-11-15
79 2020-11-22
81 2020-11-29
75 2020-12-06
47 2020-12-13

In [5]:
# dates are a pain in the ass, you know right?
df_google_dates.date.dtypes

dtype('<M8[ns]')

 - append to the empty dataframe with dates

In [6]:
# Creating the new columns. Trend index with the name of the corresponding keyword
keyword_list=list(set(df_google["keyword"]))
keyword_list.sort()
for k in keyword_list:
    df_google_dates[k]=df_google[(df_google['keyword'] == k)]["trend_index"].tolist()
#df_google_dates.index=df_google_dates["date"]
#df_google_dates.drop(columns="date",inplace=True)
df_google_dates.tail()

,date,amazon,autonomo,ayuda alquiler,badi,banco alimentos,barometro,bildu,bullying,cabify,...,taxi,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom
51,2020-11-15,81,49,27,26,100,47,47,31,7,...,23,16,82,46,76,10,7,8,42,23
79,2020-11-22,98,42,21,39,37,35,22,20,8,...,23,12,66,49,89,10,7,7,42,20
81,2020-11-29,85,54,22,17,14,25,18,22,11,...,34,15,76,37,81,7,7,7,34,18
75,2020-12-06,90,31,21,41,10,33,10,23,10,...,28,12,98,48,82,10,8,7,39,16
47,2020-12-13,88,44,25,31,14,13,6,18,13,...,28,10,79,35,57,9,9,6,39,18

**This will be our target in the ML regression"**: Unemployment

In [7]:
df_google_dates.rename(columns={'desempleo':"unemployment"}, inplace=True)

### Working with news datasets. 

I'll need to:

- Create a column for each keyword.
- Count occurrences of that keyword.
- Measure average sentiment.
- Group data by week, starting on sunday, to merge with the Google dataset.
- Combine occurrences and sentiment into one column representative of both, for each keyword.

In [8]:
# let's pplay with the 1st dataset and a random keyword, for instance
df_political[df_political["political"]=="juicio"].head()

      political        Date  Sentiment
15784    juicio  2019-01-01      -6.08
15773    juicio  2019-01-01       0.18
15774    juicio  2019-01-01       0.18
15775    juicio  2019-01-01      -1.20
15776    juicio  2019-01-01      -1.20

- So, I need to measure the average of sentiment of each keyword per day

In [9]:
df_political[df_political["political"]=="juicio"].groupby("Date").mean().head()

            Sentiment
Date
2019-01-01  -2.930000
2019-01-02  -3.986667
2019-01-03  -2.350000
2019-01-04  -4.822500
2019-01-05  -4.723333

- Also, counting occurrences of that keyword

In [10]:
df_political[df_political["political"]=="juicio"].groupby("Date").count().head()

            political  Sentiment
Date
2019-01-01         14         14
2019-01-02         18         18
2019-01-03         40         40
2019-01-04         16         16
2019-01-05         60         60

- Let's use an aggregate to perform both

In [11]:
df2=df_political[df_political["political"]=="juicio"].groupby(["Date"]).agg(['count','mean'])
# erase multiindex
df2.columns=df2.columns.droplevel(0)
df2.tail()

            count      mean
Date
2020-12-16     21 -5.710952
2020-12-17     13 -4.783077
2020-12-18     12 -8.670833
2020-12-19      8 -5.951250
2020-12-20     11 -3.266364

- Great, now let's resample by week, starting on Sunday, like the Google Searches dataset

In [12]:
df2.index = pd.to_datetime(df2.index)
df2 = df2.resample('W-SUN').mean() #weekly totals
# score is how we are going to measure the keywords
df2["score"]=df2["count"]*df2["mean"]
df2.tail()

                count      mean      score
Date
2020-11-22   9.000000 -4.722266 -42.500395
2020-11-29  17.000000 -5.013151 -85.223565
2020-12-06  20.285714 -4.461923 -90.513293
2020-12-13   9.428571 -5.743085 -54.149087
2020-12-20  14.857143 -5.962872 -88.591243

ok, now I know how to do it, then let's continue creating a function to perform this for every keyword in every Spanish news datasets.

- I need to create an empty dataframe.
- loop for each keyword from a set of keywords.
- perform what i did before for all keywords.
- concat to the mepty dataframe.
- put all this in a function.

In [13]:
# pending of erasing this and writing it in a separate script
def creating_dataset(df,column):
    '''
    Column is the column in which are allocated the keywords, for every case: political, social and economical columns
    '''
    df["Date"]=pd.to_datetime(df["Date"])
    # list of new columns
    list_keywords=list(set(df[column]))
    # creating empty dataframe to append info
    df_final=pd.DataFrame()
    df_final["date"]=list(set(df["Date"]))
    
    for k in list_keywords:
        # creating a new dataframe for every keyword in the column, getting the occurrences of keyword and mean of sentiment
        df4=pd.DataFrame()
        df4=df[df[column]==k].groupby(["Date"]).agg(['count','mean'])
        # erase multiindex
        df4.columns=df4.columns.droplevel(0)
        # this will be our score, occurrences * mean 
        df4[k]=df4["count"]*df4["mean"]
        # date column to perform the join by it
        df4["date"]=df4.index
        df4.drop(columns=["count","mean"],inplace=True)
        # this is where we combine the empty dataset, every keyword in its place
        df_final=df_final.merge(df4,how='left', left_on='date', right_on='date')

    # resampling 
    # this is weird: transform date column in index, group by, then transform again index in column, to make the further join
    df_final.index=df_final["date"]
    df_final = df_final.resample('W-SUN').mean() #weekly totals
    df_final.sort_values(by="date", ascending=True, inplace=True)
    df_final["date"]=df_final.index
    df_final.reset_index(drop=True, inplace=True)
    
    
    return df_final

In [14]:
dfp = creating_dataset(df_political,"political")
dfs = creating_dataset(df_social,"social")
dfe = creating_dataset(df_economical,"economical")

In [15]:
dfe.date.dtypes

dtype('<M8[ns]')

In [16]:
dfe.shape

(103, 15)

In [17]:
dfe.tail()

,crecimiento_economico,inflacion_economica,stock_market,pobreza,libre_comercio,precio_petroleo,desempleo,quiebra_economica,banco_mundial,finanzas_y_bancos,incertidumbre_economica,job_quality_&_labor_market_performance,prosperidad_economica_y_finanzas,macroeconomia_deuda_y_vulnerabilidad,date
98,-2.690000,NaN,-8.515714,-17.824286,NaN,NaN,-1.998333,-2.870,NaN,0.42,-254.740000,-13.128000,NaN,-4.920000,2020-11-22
99,-0.760000,NaN,-19.915714,-22.805714,-3.25,NaN,-2.448000,NaN,NaN,NaN,-294.670000,-6.680000,-6.47,-10.077500,2020-11-29
100,-3.766667,-6.310,-6.292857,-14.445714,NaN,NaN,-5.247500,-1.010,NaN,NaN,-354.131429,-1.948000,-4.47,-13.760000,2020-12-06
101,-2.610000,-1.875,-7.792857,-28.698571,-66.81,-2.64,-3.762500,NaN,-2.87,NaN,-337.195714,-3.913333,NaN,-0.543333,2020-12-13
102,NaN,3.210,-9.238571,-29.917143,-6.18,NaN,-6.856667,-2.045,NaN,NaN,-286.014286,-0.836667,NaN,-6.055000,2020-12-20

In [18]:
dfs.shape

(103, 13)

In [19]:
dfs.tail()

,emergencia_sanitaria,energias_renovables,censura_en_medios,subsidios,racismo,emprendimiento,agresion_sexual,ciencia,enfermedades_muy_infecciosas,vacunas,inmigracion,precio_vivienda,date
98,-91.004286,NaN,NaN,NaN,NaN,-1.555,NaN,-1.501667,-31.867143,NaN,NaN,-4.32,2020-11-22
99,-111.404286,NaN,NaN,NaN,NaN,8.960,-7.465,-8.197143,-41.211429,-1.00,1.840000,0.36,2020-11-29
100,-157.940000,-3.66,NaN,NaN,NaN,-4.700,-13.790,-15.538333,-32.165714,2.85,4.112500,NaN,2020-12-06
101,-123.848571,0.62,NaN,NaN,NaN,-0.810,-8.305,-7.207500,-44.785714,-3.13,-7.586667,NaN,2020-12-13
102,-106.138571,NaN,NaN,NaN,NaN,NaN,NaN,-3.338333,-25.485714,-1.00,-2.624000,NaN,2020-12-20

In [20]:
dfs.shape

(103, 13)

In [21]:
dfe.tail()

,crecimiento_economico,inflacion_economica,stock_market,pobreza,libre_comercio,precio_petroleo,desempleo,quiebra_economica,banco_mundial,finanzas_y_bancos,incertidumbre_economica,job_quality_&_labor_market_performance,prosperidad_economica_y_finanzas,macroeconomia_deuda_y_vulnerabilidad,date
98,-2.690000,NaN,-8.515714,-17.824286,NaN,NaN,-1.998333,-2.870,NaN,0.42,-254.740000,-13.128000,NaN,-4.920000,2020-11-22
99,-0.760000,NaN,-19.915714,-22.805714,-3.25,NaN,-2.448000,NaN,NaN,NaN,-294.670000,-6.680000,-6.47,-10.077500,2020-11-29
100,-3.766667,-6.310,-6.292857,-14.445714,NaN,NaN,-5.247500,-1.010,NaN,NaN,-354.131429,-1.948000,-4.47,-13.760000,2020-12-06
101,-2.610000,-1.875,-7.792857,-28.698571,-66.81,-2.64,-3.762500,NaN,-2.87,NaN,-337.195714,-3.913333,NaN,-0.543333,2020-12-13
102,NaN,3.210,-9.238571,-29.917143,-6.18,NaN,-6.856667,-2.045,NaN,NaN,-286.014286,-0.836667,NaN,-6.055000,2020-12-20

-----------------------------------------
-----------------------------------------

In [22]:
datasets = [ dfp, dfe, dfs,df_google_dates]

c=0
for d in datasets:
    c+=len(d.columns)

print("Number of attributes I have to play with: ",c)

#print(len(datasets))

Number of attributes I have to play with:  123

----------------------------------------------
----------------------------------------------

-  **don't worry by NAN, i'll deal with that later**

### Merging all datasets

- Create an empty dataframe.
- Create a column for it all dates
- Use a left join using the date column, to append in the proper place the keywords of all the other datasets

In [23]:
from datetime import datetime, date

In [24]:
# first of all let's discover the later date we have
#datasets = [ dfp, dfe, dfs,df_google_dates] 
date2 = []
for d in datasets:
    date2. append(d.date.max()) # get the later date of every dataset
    
date2 = max(date2) # get the higher of the latest
date2

Timestamp('2020-12-20 00:00:00')

In [25]:
# creating final dataset with everything
date1 = '2019-01-01'
 
mydates = pd.date_range(date1, date2, freq="W").tolist()
df_final=pd.DataFrame()
df_final["date"]=mydates
df_final['date']=pd.to_datetime(df_final["date"])
df_final.tail()

          date
98  2020-11-22
99  2020-11-29
100 2020-12-06
101 2020-12-13
102 2020-12-20

In [26]:
df_final.date.dtypes

dtype('<M8[ns]')

In [27]:
# datasets = [ dfp, dfe, dfs,df_google_dates]  already referenced before

In [28]:
# Merging!
for d in datasets:
    df_final=df_final.merge(d,how='left', left_on="date", right_on="date",suffixes=["_1","_2"])

In [29]:
df_final.shape

(103, 120)

In [30]:
df_final.columns # basically all reference one by one before

Index(['date', 'vigilancia', 'juicio', 'seguridad_nacional', 'extremismo',
       'precio_petroleo_1', 'rebelion', 'inestabilidad_politica', 'ejercito',
       'corrupcion_1',
       ...
       'taxi', 'teletrabajo', 'tinder', 'uber', 'uber eats',
       'videoconferencia', 'videollamada', 'vox', 'yoga', 'zoom'],
      dtype='object', length=120)

In [31]:
df_final=df_final.fillna(0)

In [32]:
df_final.to_csv("./input/dataset_final.csv")

-------------------------------

# Part IIb
### Processing dataset before applying ML.

It's time to process our last df before applying ML. Process for what? Well, I'm going to move my target column 4 weeks ahead, so the rows of the dataset will be related with the rows of my target, 4 weeks in advance.

Thanks to that, the last row of my dataset (today 2020.12.20) will infer my target column the day 2021.01.17.

In [33]:
import pandas as pd
from datetime import timedelta

In [34]:
dataset=pd.read_csv("input/dataset_final.csv",index_col=[0])

- List of features I have to play with:

In [35]:
dataset.tail()

,date,vigilancia,juicio,seguridad_nacional,extremismo,precio_petroleo_1,rebelion,inestabilidad_politica,ejercito,corrupcion_1,...,taxi,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom
98,2020-11-22,-4.705000,-43.371429,-1.505714,0.00,0.00,-5.103333,-3.920,-15.242000,-25.255714,...,23.0,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0
99,2020-11-29,-9.928571,-85.496667,-6.328000,0.00,0.00,-2.236667,0.710,-20.334286,-43.687143,...,34.0,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0
100,2020-12-06,-7.828333,-91.295714,-5.020000,0.00,0.00,-22.630000,0.000,-12.138571,-60.852857,...,28.0,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0
101,2020-12-13,-6.966667,-56.401429,-2.935000,-7.67,-2.64,-2.640000,0.000,-11.297143,-19.585714,...,28.0,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0
102,2020-12-20,-4.851667,-91.710000,-1.913333,2.12,0.00,-1.535000,-9.505,-23.021429,-46.031429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Sliding time

- I'm going to create a new dataset with *unemployment*, my target column and date
- Remove *unemployment* from the old dataset
- In the old dataset, add 4 weeks to the date rows. In this way, everythin happening right now will be linked with unemployment 4 weeks ahead
- Merge the *unemployment* and date dataset with the old one with changed dates

Summing up, change the dates 4 weeks ahead of everything but *unemployment* column

In [36]:
dataset["date"]=pd.to_datetime(dataset["date"])
df_unemployment=pd.DataFrame(dataset[["date", "unemployment"]])
dataset.drop(columns="unemployment", inplace=True)

In [37]:
dataset["date"]=dataset["date"].apply(lambda x: x+timedelta(weeks=4))
dataset.tail()

,date,vigilancia,juicio,seguridad_nacional,extremismo,precio_petroleo_1,rebelion,inestabilidad_politica,ejercito,corrupcion_1,...,taxi,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom
98,2020-12-20,-4.705000,-43.371429,-1.505714,0.00,0.00,-5.103333,-3.920,-15.242000,-25.255714,...,23.0,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0
99,2020-12-27,-9.928571,-85.496667,-6.328000,0.00,0.00,-2.236667,0.710,-20.334286,-43.687143,...,34.0,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0
100,2021-01-03,-7.828333,-91.295714,-5.020000,0.00,0.00,-22.630000,0.000,-12.138571,-60.852857,...,28.0,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0
101,2021-01-10,-6.966667,-56.401429,-2.935000,-7.67,-2.64,-2.640000,0.000,-11.297143,-19.585714,...,28.0,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0
102,2021-01-17,-4.851667,-91.710000,-1.913333,2.12,0.00,-1.535000,-9.505,-23.021429,-46.031429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# now let's merge again. outter to get all from both datasets
df=pd.merge(dataset,df_unemployment,how='outer', on=["date"],suffixes=(None,None))
df.sort_values(by=["date"],inplace=True)
df=df.fillna(0)

# great, everything but "unemployment" has been moved 4 weeks ahead
df.head() # go to the right to appreciate it

,date,vigilancia,juicio,seguridad_nacional,extremismo,precio_petroleo_1,rebelion,inestabilidad_politica,ejercito,corrupcion_1,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
103,2019-01-06,0.000,0.00,0.000,0.000000,0.0,0.000000,0.00,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
104,2019-01-13,0.000,0.00,0.000,0.000000,0.0,0.000000,0.00,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
105,2019-01-20,0.000,0.00,0.000,0.000000,0.0,0.000000,0.00,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
106,2019-01-27,0.000,0.00,0.000,0.000000,0.0,0.000000,0.00,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
0,2019-02-03,-31.525,-111.88,-30.555,-29.993333,0.0,-21.453333,-7.77,-20.473333,-92.164,...,1.0,57.0,27.0,12.0,2.0,2.0,34.0,47.0,5.0,18.0

In [39]:
df.tail() # go to the right to appreciate it

,date,vigilancia,juicio,seguridad_nacional,extremismo,precio_petroleo_1,rebelion,inestabilidad_politica,ejercito,corrupcion_1,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
98,2020-12-20,-4.705000,-43.371429,-1.505714,0.00,0.00,-5.103333,-3.920,-15.242000,-25.255714,...,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0,0.0
99,2020-12-27,-9.928571,-85.496667,-6.328000,0.00,0.00,-2.236667,0.710,-20.334286,-43.687143,...,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0,0.0
100,2021-01-03,-7.828333,-91.295714,-5.020000,0.00,0.00,-22.630000,0.000,-12.138571,-60.852857,...,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0,0.0
101,2021-01-10,-6.966667,-56.401429,-2.935000,-7.67,-2.64,-2.640000,0.000,-11.297143,-19.585714,...,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0,0.0
102,2021-01-17,-4.851667,-91.710000,-1.913333,2.12,0.00,-1.535000,-9.505,-23.021429,-46.031429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
df.reset_index(drop=True,inplace=True)
# lets remove the first 4 rows. We don't have data in our X, just in our target, so it's redundant
df.drop([0,1,2,3], inplace=True)

In [41]:
df.to_csv("input/dataset_final_processed.csv")
df

,date,vigilancia,juicio,seguridad_nacional,extremismo,precio_petroleo_1,rebelion,inestabilidad_politica,ejercito,corrupcion_1,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
4,2019-02-03,-31.525000,-111.880000,-30.555000,-29.993333,0.00,-21.453333,-7.770000,-20.473333,-92.164000,...,1.0,57.0,27.0,12.0,2.0,2.0,34.0,47.0,5.0,18.0
5,2019-02-10,-67.150000,-485.394286,-5.313333,-2.260000,0.00,-17.413333,-23.500000,-31.360000,-168.828571,...,1.0,45.0,39.0,9.0,4.0,1.0,27.0,44.0,4.0,22.0
6,2019-02-17,-49.556000,-232.251429,-3.220000,-5.644000,3.72,-26.305000,-36.120000,-23.700000,-106.468571,...,0.0,44.0,100.0,14.0,3.0,2.0,15.0,46.0,3.0,20.0
7,2019-02-24,-14.530000,-233.122857,-16.080000,-4.226667,0.00,-26.570000,-24.146667,-25.508571,-106.342857,...,1.0,45.0,83.0,10.0,3.0,2.0,11.0,50.0,4.0,21.0
8,2019-03-03,-21.495000,-173.451429,-1.480000,0.000000,0.00,-28.106667,-5.160000,-6.876667,-112.497143,...,3.0,56.0,37.0,10.0,3.0,2.0,13.0,51.0,3.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2020-12-20,-4.705000,-43.371429,-1.505714,0.000000,0.00,-5.103333,-3.920000,-15.242000,-25.255714,...,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0,0.0
103,2020-12-27,-9.928571,-85.496667,-6.328000,0.000000,0.00,-2.236667,0.710000,-20.334286,-43.687143,...,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0,0.0
104,2021-01-03,-7.828333,-91.295714,-5.020000,0.000000,0.00,-22.630000,0.000000,-12.138571,-60.852857,...,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0,0.0
105,2021-01-10,-6.966667,-56.401429,-2.935000,-7.670000,-2.64,-2.640000,0.000000,-11.297143,-19.585714,...,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0,0.0
106,2021-01-17,-4.851667,-91.710000,-1.913333,2.120000,0.00,-1.535000,-9.505000,-23.021429,-46.031429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

----------------------------------

# PART III
# ML regression


![alt](https://i.pinimg.com/originals/8c/5c/59/8c5c5923c547867c1615402754d9eb27.gif)
-----------------------------------

*This jupyter is the explanation. The *real thing* is available in the **Cloud Function** folder. 


----------------------------------

I'm going to:

- Normalise the dataset before applying ML. 
- Use **RFE** (Recursive Feature Elimination) to select the best 15 columns to work with, from the 133 I have.
- Use the fastest regression I can. Speed over performance due to Cloud Function requirements.
- Perform cross validation. Unfortunately I have no enough data for train/validation/test
- Once my model is trained, infer data in the whole dataset, to have a dashboard comparing *real keyword* vs *infered keyword*.

Let's have fun :D

In [42]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso

In [44]:
df=pd.read_csv("input/dataset_final_processed.csv",index_col=[0])
df.head()

,date,vigilancia,juicio,seguridad_nacional,extremismo,precio_petroleo_1,rebelion,inestabilidad_politica,ejercito,corrupcion_1,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
4,2019-02-03,-31.525,-111.880000,-30.555000,-29.993333,0.00,-21.453333,-7.770000,-20.473333,-92.164000,...,1.0,57.0,27.0,12.0,2.0,2.0,34.0,47.0,5.0,18.0
5,2019-02-10,-67.150,-485.394286,-5.313333,-2.260000,0.00,-17.413333,-23.500000,-31.360000,-168.828571,...,1.0,45.0,39.0,9.0,4.0,1.0,27.0,44.0,4.0,22.0
6,2019-02-17,-49.556,-232.251429,-3.220000,-5.644000,3.72,-26.305000,-36.120000,-23.700000,-106.468571,...,0.0,44.0,100.0,14.0,3.0,2.0,15.0,46.0,3.0,20.0
7,2019-02-24,-14.530,-233.122857,-16.080000,-4.226667,0.00,-26.570000,-24.146667,-25.508571,-106.342857,...,1.0,45.0,83.0,10.0,3.0,2.0,11.0,50.0,4.0,21.0
8,2019-03-03,-21.495,-173.451429,-1.480000,0.000000,0.00,-28.106667,-5.160000,-6.876667,-112.497143,...,3.0,56.0,37.0,10.0,3.0,2.0,13.0,51.0,3.0,23.0

In [46]:
print("I have ", len(df.columns)-1, " columns to play with")#columns=list(df.columns)

I have  119  columns to play with

# Shuffle data

I'm not going to shuffle data. It performs a negative impact on my really simple regression. I'll apply a cross validation method to the train dataset.

In [ ]:
#df_shuffled= df.head(-4).sample(frac=1)
#df_shuffled

#Now let's append the last 4 rows removed before
        
#df_shuffled=df_shuffled.append(df.tail(4), ignore_index=True).reset_index(drop=True)
#df_shuffled

# Normalize

- This dataset is composed by datasets with different scale, so normalize values is needed.

In [ ]:
# Transform into standard normal distribution using the z-score definition
X = df.drop(columns=["date","unemployment"]) #returns a numpy array
X = X.apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))
target=df["unemployment"]

In [ ]:
X.head()

In [ ]:
target.head()

Google Trends works oddly. You request a range of time, and it processes the info before delivering. Score 100 means it was the maximum peak in all times, and all the column is normalized by that peak, but we can't see the exactly number of searches.

# Splitting and k-folds validation.

There are not a lot of data, so splitting and shuffling my dataset ends with terrible metrics for a fast linear regression.

In [ ]:
# all but last 4 rows
X_train=X.iloc[:-4]
target_train=target.iloc[:-4]

# last 4 rows, which are the ones I have no data and I want to infer
X_test=X.iloc[-4:]
target_test=target.iloc[-4:]

# Model selection

Here is where I run different models and perform tunning of hyperparameter for better fit, and:

- Divide between train/validation/test
- Train the models with train
- Validate metrics with validation
- Perform inferences with test
- Select the best model of all and train it with the whole dataset

**That's not going to happen... Yet**. This is a leisure project and my main concern is having something that works within a Cloud Function, in my GCP pipelines. It means my baby needs to run with 4GB of RAM as maximum and 60 seconds of timeout, so I will start with the simplest and fastest model I can.

When I get that, myself from the future will refactorize code and improve metrics. 

So, right now, the selected model will be a Lasso regression after a recursive feature elimination. 

- The model will select the 15 best columns to work with.
- After it, Lasso will remove from the equation the less relevants.

It is like a double filter of simplicity that I hope it works

# Selecting best features using RFE

(Recursive Feature Elimination)

In [ ]:
# alpha=1 is like a regular regression. for getter performance use elastic net instead (l1&l2 mix).
#regression = Lasso(alpha=0.1)
regression = LinearRegression() # oher model

# neg mean squared error. it always is negative but what you get is the positive representation
rfecv = RFECV(estimator=regression, step=1, min_features_to_select=15, cv=5,scoring='neg_mean_squared_error')
rfecv.fit(X_train, target_train)

In [ ]:
# Inferences 4 weeks ahead
rfecv.predict(X_test)

In [ ]:
# it's unfortunate not having X and target validation, but k-folds cross validation was implemented for that precisely 
rfecv.score(X_train, target_train)

# CSV with infered keyword vs real keyword

- Last 4 rows are the truly interesting ones... Foreseeing with 4 weeks in advance.

In [ ]:
result=pd.DataFrame()
result["date"]=df["date"]
result["real_searches"]=df["unemployment"]
result["infered_results"]=pd.DataFrame(rfecv.predict(X))

result["infered_results"]=result["infered_results"].apply(lambda x: 0 if x<0 else round(x,2))
result.head()

In [ ]:
# visualization
result.plot(x="date",
            y=["real_searches","inferred_results"],
            figsize=(20,10), 
            kind="bar",
            title="Inferences of Tending Index in Google Trends, with results 4 weeks ahead. This data will be implemented in an automated pipeline for dashboarding in Data Studio",
            grid=True)

## CSV to append weekly the score

In [ ]:
score = pd.DataFrame({"date": [max(df["date"])], 'score': [round(rfecv.score(X_train, target_train),4)]})
score.to_csv("input/weekly_score.csv")
score

## CSV to overwrite weekly ranking of features by importance.

Of course there is a lot of room for improvement, but I'm glad the importance of features for the model looks coherent at first sight. Top 15 features, the ones selected by the model:

- erte = Record of Temporary Employment Regulation
- emergencia sanitaria = healthcare emegercy
- cÃ¡ritas = a crhistian ONG helping the most vulnerable
- crecimiento econÃ³mico = economical growth 
- videocall
- remote working
- Skype

In [ ]:
# Ranking of how important are the following keywords to infer in Google searches in Spain
# the keyword "unemployment"
features=pd.DataFrame()
features["features"]=X.columns
features["top_important"]=rfecv.ranking_
features.sort_values(by=["top_important"], inplace=True)
features.reset_index(drop=True, inplace=True)
features.to_csv("input/ranking_of_features.csv")
features.head(50)
# with a linear regression the number of important features was reduced. It also had better performance.