# PART I

-----------------------

# Creating the dataset to play with.

- Merge 4 datasets with different lenght by date
- Google searches dataset:
    - There are 3 columns: Date, keywords, and score, grouped by week. It needs to be structured like a column for each keyword, and rows with the score (the score will be the trend index of Google Trends).
    
- Spanish news (3 datasets):
    - There are 3 columns: Date, keyword and sentiment. The same keyword can appear many times the same day.
    - A column counting occurrences per day of a keyword must be created, also a column with mean sentiment per day.
    - Then a column called score will be created, multiplying occurrences * mean.
    - Then the final datset will be Date, as much columns as keywords, every column will have the score mentioned above as rows. Everything grouped by week.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_political=pd.read_csv("./input/dashboard_spanish_news_political.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_political.sort_values(by=["Date"],inplace=True)

df_economical=pd.read_csv("./input/dashboard_spanish_news_economical.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_economical.sort_values(by=["Date"],inplace=True)

df_social=pd.read_csv("./input/dashboard_spanish_news_social.csv.gz",compression='gzip', header=0, quotechar='"', error_bad_lines=False)
df_social.sort_values(by=["Date"],inplace=True)

df_google=pd.read_csv("./input/data_pytrends.csv",index_col=[0])
df_google.sort_values(by=["date"],inplace=True)

# Dataset previews:

- With news, I need to count occurrences, calculate the average of sentiment, multiply both to create a new column.

In [3]:
datasets_raw=[df_political, df_social, df_economical, df_google]
for d in datasets_raw:
    
    display(d.tail())
    column_list= d.columns
    print("Unique keywords: ", d[column_list[0]].unique(),"\n","\n",
         "Shape: ", d.shape,"\n","\n"
         )

      political        Date  Sentiment
55731    juicio  2020-12-20      -4.49
55735    juicio  2020-12-20      -1.08
55734    juicio  2020-12-20      -8.04
55732    juicio  2020-12-20      -6.47
55773  ejercito  2020-12-20      -1.78

Unique keywords:  ['juicio' 'ejercito' 'vigilancia' 'protestas' 'inestabilidad_politica'
 'seguridad_nacional' 'corrupcion' 'refugiados' 'rebelion' 'terrorismo'
 'extremismo' 'precio_petroleo']

 Shape:  (55899, 3)

                             social        Date  Sentiment
42788          emergencia_sanitaria  2020-12-20      -4.60
42787          emergencia_sanitaria  2020-12-20      -4.65
42786          emergencia_sanitaria  2020-12-20      -2.00
42797          emergencia_sanitaria  2020-12-20      -3.45
42877  enfermedades_muy_infecciosas  2020-12-20      -0.14

Unique keywords:  ['enfermedades_muy_infecciosas' 'vacunas' 'emergencia_sanitaria'
 'inmigracion' 'agresion_sexual' 'ciencia' 'emprendimiento'
 'precio_vivienda' 'energias_renovables' 'censura_en_medios' 'subsidios'
 'racismo']

 Shape:  (42878, 3)

                  economical        Date  Sentiment
100             stock_market  2020-12-20      -4.16
99              stock_market  2020-12-20      -1.71
98              stock_market  2020-12-20      -2.56
966  incertidumbre_economica  2020-12-20      -5.53
950  incertidumbre_economica  2020-12-20      -2.92

Unique keywords:  ['pobreza' 'incertidumbre_economica' 'stock_market'
 'macroeconomia_deuda_y_vulnerabilidad' 'desempleo'
 'job_quality_&_labor_market_performance' 'libre_comercio'
 'inflacion_economica' 'precio_petroleo' 'quiebra_economica'
 'crecimiento_economico' 'banco_mundial' 'finanzas_y_bancos'
 'prosperidad_economica_y_finanzas']

 Shape:  (160349, 3)

            keyword        date  trend_index
7139           yoga  2020-12-13           39
5915       examenes  2020-12-13           33
2243        podemos  2020-12-13           18
917   comparecencia  2020-12-13            4
8261     en familia  2020-12-13           62

Unique keywords:  ['zoom' 'yoga' 'crisis economica' 'badi' 'erte' 'vox' 'examenes'
 'refugiados' 'estado de alarma' 'psoe' 'idealista' 'paro' 'menu escolar'
 'meetic' 'uber' 'autonomo' 'bullying' 'hipoteca' 'sepe' 'taxi' 'hangouts'
 'corrupcion' 'tinder' 'en casa' 'clases online' 'piso barato' 'infeccion'
 'videollamada' 'pandemia' 'negocio online' 'crisis politica'
 'productividad' 'independentismo' 'videoconferencia' 'medico'
 'coronavirus' 'emprendimiento' 'cursos online' 'residencia ancianos'
 'skype' 'en familia' 'meditacion' 'barometro' 'remoto' 'desescalada'
 'comparecencia' 'teletrabajo' 'formacion' 'embarazo' 'pp' 'nacionalismo'
 'amazon' 'just eat' 'inmigracion' 'comedor social' 'compartir piso'
 'steam' 'mas pais' 'desempleo' 'uber eats' 'banco alimentos'
 'manifestacion' 'caritas' 'cruz roja' 'hbo' 'hacer deporte' 'pnv'
 'deshaucio' 'ayuda alquiler' 'podemos' 'disney' 'glovo' 'netflix'
 'deliveroo' 'bildu' 'ciudadanos' 'cabify' 'erc' 'divorcio' 'protesta'
 'compromis']

 Shape:  (8262, 3)

With Google searches, what we have is the Trending index. Score 100 means that from the requested period of time, in this week the maximum of occurrences were reached, and everything else get normalize by that peak. It is not possible to request the real number of occurrences.

# Data Processing

### Working with the Google dataset: 

- Creating a column for each keyword with the trend_index value.

I'm going to create a dataframe with the set of dates, and append the score of keywords to this dataset (kind of get dummies, but I can't do that, I have already the units I want for each column)

In [4]:
# creating df
df_google_dates=pd.DataFrame()

# creating the Date column in new dataset
df_google_dates["date"]=list(set(df_google["date"]))
df_google_dates["date"]=pd.to_datetime(df_google_dates["date"])
df_google_dates.sort_values(by=["date"],inplace=True)
df_google_dates.tail()

         date
55 2020-11-15
31 2020-11-22
58 2020-11-29
59 2020-12-06
83 2020-12-13

In [5]:
# dates are a pain in the ass, you know right?
df_google_dates.date.dtypes

dtype('<M8[ns]')

 - append to the empty dataframe with dates

In [6]:
# Creating the new columns. Trend index with the name of the corresponding keyword
keyword_list=list(set(df_google["keyword"]))
keyword_list.sort()
for k in keyword_list:
    df_google_dates[k]=df_google[(df_google['keyword'] == k)]["trend_index"].tolist()
#df_google_dates.index=df_google_dates["date"]
#df_google_dates.drop(columns="date",inplace=True)
df_google_dates.tail()

,date,amazon,autonomo,ayuda alquiler,badi,banco alimentos,barometro,bildu,bullying,cabify,...,taxi,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom
55,2020-11-15,81,49,27,26,100,47,47,31,7,...,23,16,82,46,76,10,7,8,42,23
31,2020-11-22,98,42,21,39,37,35,22,20,8,...,23,12,66,49,89,10,7,7,42,20
58,2020-11-29,85,54,22,17,14,25,18,22,11,...,34,15,76,37,81,7,7,7,34,18
59,2020-12-06,90,31,21,41,10,33,10,23,10,...,28,12,98,48,82,10,8,7,39,16
83,2020-12-13,88,44,25,31,14,13,6,18,13,...,28,10,79,35,57,9,9,6,39,18

**This will be our target in the ML regression"**: Unemployment

In [7]:
df_google_dates.rename(columns={'desempleo':"unemployment"}, inplace=True)

### Working with news datasets. 

I'll need to:

- Create a column for each keyword.
- Count occurrences of that keyword.
- Measure average sentiment.
- Group data by week, starting on sunday, to merge with the Google dataset.
- Combine occurrences and sentiment into one column representative of both, for each keyword.

In [8]:
# let's pplay with the 1st dataset and a random keyword, for instance
df_political[df_political["political"]=="juicio"].head()

      political        Date  Sentiment
15784    juicio  2019-01-01      -6.08
15773    juicio  2019-01-01       0.18
15774    juicio  2019-01-01       0.18
15775    juicio  2019-01-01      -1.20
15776    juicio  2019-01-01      -1.20

- So, I need to measure the average of sentiment of each keyword per day

In [9]:
df_political[df_political["political"]=="juicio"].groupby("Date").mean().head()

            Sentiment
Date
2019-01-01  -2.930000
2019-01-02  -3.986667
2019-01-03  -2.350000
2019-01-04  -4.822500
2019-01-05  -4.723333

- Also, counting occurrences of that keyword

In [10]:
df_political[df_political["political"]=="juicio"].groupby("Date").count().head()

            political  Sentiment
Date
2019-01-01         14         14
2019-01-02         18         18
2019-01-03         40         40
2019-01-04         16         16
2019-01-05         60         60

- Let's use an aggregate to perform both

In [11]:
df2=df_political[df_political["political"]=="juicio"].groupby(["Date"]).agg(['count','mean'])
# erase multiindex
df2.columns=df2.columns.droplevel(0)
df2.tail()

            count      mean
Date
2020-12-16     21 -5.710952
2020-12-17     13 -4.783077
2020-12-18     12 -8.670833
2020-12-19      8 -5.951250
2020-12-20     11 -3.266364

- Great, now let's resample by week, starting on Sunday, like the Google Searches dataset

In [12]:
df2.index = pd.to_datetime(df2.index)
df2 = df2.resample('W-SUN').mean() #weekly totals
# score is how we are going to measure the keywords
df2["score"]=df2["count"]*df2["mean"]
df2.tail()

                count      mean      score
Date
2020-11-22   9.000000 -4.722266 -42.500395
2020-11-29  17.000000 -5.013151 -85.223565
2020-12-06  20.285714 -4.461923 -90.513293
2020-12-13   9.428571 -5.743085 -54.149087
2020-12-20  14.857143 -5.962872 -88.591243

ok, now I know how to do it, then let's continue creating a function to perform this for every keyword in every Spanish news datasets.

- I need to create an empty dataframe.
- loop for each keyword from a set of keywords.
- perform what i did before for all keywords.
- concat to the mepty dataframe.
- put all this in a function.

In [13]:
# pending of erasing this and writing it in a separate script
def creating_dataset(df,column):
    '''
    Column is the column in which are allocated the keywords, for every case: political, social and economical columns
    '''
    df["Date"]=pd.to_datetime(df["Date"])
    # list of new columns
    list_keywords=list(set(df[column]))
    # creating empty dataframe to append info
    df_final=pd.DataFrame()
    df_final["date"]=list(set(df["Date"]))
    
    for k in list_keywords:
        # creating a new dataframe for every keyword in the column, getting the occurrences of keyword and mean of sentiment
        df4=pd.DataFrame()
        df4=df[df[column]==k].groupby(["Date"]).agg(['count','mean'])
        # erase multiindex
        df4.columns=df4.columns.droplevel(0)
        # this will be our score, occurrences * mean 
        df4[k]=df4["count"]*df4["mean"]
        # date column to perform the join by it
        df4["date"]=df4.index
        df4.drop(columns=["count","mean"],inplace=True)
        # this is where we combine the empty dataset, every keyword in its place
        df_final=df_final.merge(df4,how='left', left_on='date', right_on='date')

    # resampling 
    # this is weird: transform date column in index, group by, then transform again index in column, to make the further join
    df_final.index=df_final["date"]
    df_final = df_final.resample('W-SUN').mean() #weekly totals
    df_final.sort_values(by="date", ascending=True, inplace=True)
    df_final["date"]=df_final.index
    df_final.reset_index(drop=True, inplace=True)
    
    
    return df_final

In [14]:
dfp = creating_dataset(df_political,"political")
dfs = creating_dataset(df_social,"social")
dfe = creating_dataset(df_economical,"economical")

In [15]:
dfe.date.dtypes

dtype('<M8[ns]')

In [16]:
dfe.shape

(103, 15)

In [17]:
dfe.tail()

,inflacion_economica,prosperidad_economica_y_finanzas,macroeconomia_deuda_y_vulnerabilidad,quiebra_economica,pobreza,crecimiento_economico,job_quality_&_labor_market_performance,libre_comercio,stock_market,banco_mundial,finanzas_y_bancos,desempleo,incertidumbre_economica,precio_petroleo,date
98,NaN,NaN,-4.920000,-2.870,-17.824286,-2.690000,-13.128000,NaN,-8.515714,NaN,0.42,-1.998333,-254.740000,NaN,2020-11-22
99,NaN,-6.47,-10.077500,NaN,-22.805714,-0.760000,-6.680000,-3.25,-19.915714,NaN,NaN,-2.448000,-294.670000,NaN,2020-11-29
100,-6.310,-4.47,-13.760000,-1.010,-14.445714,-3.766667,-1.948000,NaN,-6.292857,NaN,NaN,-5.247500,-354.131429,NaN,2020-12-06
101,-1.875,NaN,-0.543333,NaN,-28.698571,-2.610000,-3.913333,-66.81,-7.792857,-2.87,NaN,-3.762500,-337.195714,-2.64,2020-12-13
102,3.210,NaN,-6.055000,-2.045,-29.917143,NaN,-0.836667,-6.18,-9.238571,NaN,NaN,-6.856667,-286.014286,NaN,2020-12-20

In [18]:
dfs.shape

(103, 13)

In [19]:
dfs.tail()

,emprendimiento,censura_en_medios,racismo,subsidios,enfermedades_muy_infecciosas,vacunas,inmigracion,agresion_sexual,emergencia_sanitaria,energias_renovables,ciencia,precio_vivienda,date
98,-1.555,NaN,NaN,NaN,-31.867143,NaN,NaN,NaN,-91.004286,NaN,-1.501667,-4.32,2020-11-22
99,8.960,NaN,NaN,NaN,-41.211429,-1.00,1.840000,-7.465,-111.404286,NaN,-8.197143,0.36,2020-11-29
100,-4.700,NaN,NaN,NaN,-32.165714,2.85,4.112500,-13.790,-157.940000,-3.66,-15.538333,NaN,2020-12-06
101,-0.810,NaN,NaN,NaN,-44.785714,-3.13,-7.586667,-8.305,-123.848571,0.62,-7.207500,NaN,2020-12-13
102,NaN,NaN,NaN,NaN,-25.485714,-1.00,-2.624000,NaN,-106.138571,NaN,-3.338333,NaN,2020-12-20

In [20]:
dfs.shape

(103, 13)

In [21]:
dfe.tail()

,inflacion_economica,prosperidad_economica_y_finanzas,macroeconomia_deuda_y_vulnerabilidad,quiebra_economica,pobreza,crecimiento_economico,job_quality_&_labor_market_performance,libre_comercio,stock_market,banco_mundial,finanzas_y_bancos,desempleo,incertidumbre_economica,precio_petroleo,date
98,NaN,NaN,-4.920000,-2.870,-17.824286,-2.690000,-13.128000,NaN,-8.515714,NaN,0.42,-1.998333,-254.740000,NaN,2020-11-22
99,NaN,-6.47,-10.077500,NaN,-22.805714,-0.760000,-6.680000,-3.25,-19.915714,NaN,NaN,-2.448000,-294.670000,NaN,2020-11-29
100,-6.310,-4.47,-13.760000,-1.010,-14.445714,-3.766667,-1.948000,NaN,-6.292857,NaN,NaN,-5.247500,-354.131429,NaN,2020-12-06
101,-1.875,NaN,-0.543333,NaN,-28.698571,-2.610000,-3.913333,-66.81,-7.792857,-2.87,NaN,-3.762500,-337.195714,-2.64,2020-12-13
102,3.210,NaN,-6.055000,-2.045,-29.917143,NaN,-0.836667,-6.18,-9.238571,NaN,NaN,-6.856667,-286.014286,NaN,2020-12-20

-----------------------------------------
-----------------------------------------

In [22]:
datasets = [ dfp, dfe, dfs,df_google_dates]

c=0
for d in datasets:
    c+=len(d.columns)

print("Number of attributes I have to play with: ",c)

#print(len(datasets))

Number of attributes I have to play with:  123

----------------------------------------------
----------------------------------------------

-  **don't worry by NAN, i'll deal with that later**

### Merging all datasets

- Create an empty dataframe.
- Create a column for it all dates
- Use a left join using the date column, to append in the proper place the keywords of all the other datasets

In [23]:
from datetime import datetime, date

In [24]:
# first of all let's discover the later date we have
#datasets = [ dfp, dfe, dfs,df_google_dates] 
date2 = []
for d in datasets:
    date2. append(d.date.max()) # get the later date of every dataset
    
date2 = max(date2) # get the higher of the latest
date2

Timestamp('2020-12-20 00:00:00')

In [25]:
# creating final dataset with everything
date1 = '2019-01-01'
 
mydates = pd.date_range(date1, date2, freq="W").tolist()
df_final=pd.DataFrame()
df_final["date"]=mydates
df_final['date']=pd.to_datetime(df_final["date"])
df_final.tail()

          date
98  2020-11-22
99  2020-11-29
100 2020-12-06
101 2020-12-13
102 2020-12-20

In [26]:
df_final.date.dtypes

dtype('<M8[ns]')

In [27]:
# datasets = [ dfp, dfe, dfs,df_google_dates]  already referenced before

In [28]:
# Merging!
for d in datasets:
    df_final=df_final.merge(d,how='left', left_on="date", right_on="date",suffixes=["_1","_2"])

In [29]:
df_final.shape

(103, 120)

In [30]:
df_final.columns # basically all reference one by one before

Index(['date', 'juicio', 'terrorismo', 'vigilancia', 'seguridad_nacional',
       'protestas', 'refugiados_1', 'inestabilidad_politica', 'corrupcion_1',
       'ejercito',
       ...
       'taxi', 'teletrabajo', 'tinder', 'uber', 'uber eats',
       'videoconferencia', 'videollamada', 'vox', 'yoga', 'zoom'],
      dtype='object', length=120)

In [31]:
df_final=df_final.fillna(0)

In [32]:
df_final.to_csv("./input/dataset_final.csv")

-------------------------------

# Part IIb
### Processing dataset before applying ML.

It's time to process our last df before applying ML. Process for what? Well, I'm going to move my target column 4 weeks ahead, so the rows of the dataset will be related with the rows of my target, 4 weeks in advance.

Thanks to that, the last row of my dataset (today 2020.12.20) will infer my target column the day 2021.01.17.

In [33]:
import pandas as pd
from datetime import timedelta

In [34]:
dataset=pd.read_csv("input/dataset_final.csv",index_col=[0])

- List of features I have to play with:

In [35]:
dataset.shape

(103, 120)

### Outliers removal

In [36]:
without_date= list(dataset.columns)
without_date.remove("date")
for c in without_date:
    q_low= dataset[c].quantile(0.01)
    q_high= dataset[c].quantile(0.91)
    df= dataset[(dataset[c]<q_high) & (dataset[c]> q_low)]

In [37]:
df.shape[0]

82

In [38]:
removed=int(100*(dataset.shape[0]-df.shape[0])/df.shape[0])

In [39]:
from datetime import datetime
#date
today=datetime.now().date()

In [40]:
outliers_dict= {"date":today,"percent_removed":removed }
outliers_removal=pd.DataFrame(outliers_dict, index=[0])
outliers_removal.to_csv("input/outliers_removal")
outliers_removal

         date  percent_removed
0  2021-01-23               25

In [41]:
dataset=df

# Sliding time

- I'm going to create a new dataset with *unemployment*, my target column and date
- Remove *unemployment* from the old dataset
- In the old dataset, add 4 weeks to the date rows. In this way, everythin happening right now will be linked with unemployment 4 weeks ahead
- Merge the *unemployment* and date dataset with the old one with changed dates

Summing up, change the dates 4 weeks ahead of everything but *unemployment* column

In [42]:
dataset["date"]=pd.to_datetime(dataset["date"])
df_unemployment=pd.DataFrame(dataset[["date", "unemployment"]])
dataset.drop(columns="unemployment", inplace=True)

In [43]:
dataset["date"]=dataset["date"].apply(lambda x: x+timedelta(weeks=4))
dataset.tail()

,date,juicio,terrorismo,vigilancia,seguridad_nacional,protestas,refugiados_1,inestabilidad_politica,corrupcion_1,ejercito,...,taxi,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom
97,2020-12-13,-51.018571,-4.700000,-3.930000,0.520000,-1.373333,-0.370000,0.00,-20.568333,-6.700000,...,23.0,16.0,82.0,46.0,76.0,10.0,7.0,8.0,42.0,23.0
98,2020-12-20,-43.371429,-4.060000,-4.705000,-1.505714,-8.907143,-4.363333,-3.92,-25.255714,-15.242000,...,23.0,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0
99,2020-12-27,-85.496667,-15.684000,-9.928571,-6.328000,-7.308333,-4.660000,0.71,-43.687143,-20.334286,...,34.0,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0
100,2021-01-03,-91.295714,-12.983333,-7.828333,-5.020000,-11.434286,-6.390000,0.00,-60.852857,-12.138571,...,28.0,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0
101,2021-01-10,-56.401429,-6.036667,-6.966667,-2.935000,-1.381429,-3.157500,0.00,-19.585714,-11.297143,...,28.0,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0

In [44]:
# now let's merge again. outter to get all from both datasets
df=pd.merge(dataset,df_unemployment,how='outer', on=["date"],suffixes=(None,None))
df.sort_values(by=["date"],inplace=True)
df=df.fillna(0)

# great, everything but "unemployment" has been moved 4 weeks ahead
df.head() # go to the right to appreciate it

,date,juicio,terrorismo,vigilancia,seguridad_nacional,protestas,refugiados_1,inestabilidad_politica,corrupcion_1,ejercito,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
82,2019-01-06,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
83,2019-01-13,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
84,2019-01-27,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
0,2019-02-03,-111.880000,-82.140000,-31.525,-30.555000,-0.986667,-6.425000,-7.77,-92.164000,-20.473333,...,1.0,57.0,27.0,12.0,2.0,2.0,34.0,47.0,5.0,0.0
1,2019-02-10,-485.394286,-11.586667,-67.150,-5.313333,-16.754286,-15.266667,-23.50,-168.828571,-31.360000,...,1.0,45.0,39.0,9.0,4.0,1.0,27.0,44.0,4.0,22.0

In [45]:
df.tail() # go to the right to appreciate it

,date,juicio,terrorismo,vigilancia,seguridad_nacional,protestas,refugiados_1,inestabilidad_politica,corrupcion_1,ejercito,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
77,2020-12-13,-51.018571,-4.700000,-3.930000,0.520000,-1.373333,-0.370000,0.00,-20.568333,-6.700000,...,16.0,82.0,46.0,76.0,10.0,7.0,8.0,42.0,23.0,27.0
78,2020-12-20,-43.371429,-4.060000,-4.705000,-1.505714,-8.907143,-4.363333,-3.92,-25.255714,-15.242000,...,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0,0.0
79,2020-12-27,-85.496667,-15.684000,-9.928571,-6.328000,-7.308333,-4.660000,0.71,-43.687143,-20.334286,...,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0,0.0
80,2021-01-03,-91.295714,-12.983333,-7.828333,-5.020000,-11.434286,-6.390000,0.00,-60.852857,-12.138571,...,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0,0.0
81,2021-01-10,-56.401429,-6.036667,-6.966667,-2.935000,-1.381429,-3.157500,0.00,-19.585714,-11.297143,...,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0,0.0

In [46]:
df.reset_index(drop=True,inplace=True)
# lets remove the first 4 rows. We don't have data in our X, just in our target, so it's redundant
df.drop([0,1,2,3], inplace=True)

In [47]:
#df.drop(columns=["Unnamed: 0"], inplace=True)
df

,date,juicio,terrorismo,vigilancia,seguridad_nacional,protestas,refugiados_1,inestabilidad_politica,corrupcion_1,ejercito,...,teletrabajo,tinder,uber,uber eats,videoconferencia,videollamada,vox,yoga,zoom,unemployment
4,2019-02-10,-485.394286,-11.586667,-67.150000,-5.313333,-16.754286,-15.266667,-23.500000,-168.828571,-31.360000,...,1.0,45.0,39.0,9.0,4.0,1.0,27.0,44.0,4.0,22.0
5,2019-02-24,-233.122857,-34.084000,-14.530000,-16.080000,-41.448571,1.276000,-24.146667,-106.342857,-25.508571,...,1.0,45.0,83.0,10.0,3.0,2.0,11.0,50.0,4.0,21.0
6,2019-03-10,-377.391429,-68.092000,-18.320000,-2.430000,-41.700000,-7.830000,-55.030000,-268.294286,-43.380000,...,2.0,58.0,30.0,12.0,2.0,2.0,18.0,49.0,4.0,29.0
7,2019-03-17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0
8,2019-03-24,-330.151429,-20.988000,-22.276000,11.870000,-48.382857,0.350000,-17.510000,-111.691429,-16.354286,...,1.0,53.0,28.0,7.0,4.0,2.0,18.0,45.0,4.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2020-12-13,-51.018571,-4.700000,-3.930000,0.520000,-1.373333,-0.370000,0.000000,-20.568333,-6.700000,...,16.0,82.0,46.0,76.0,10.0,7.0,8.0,42.0,23.0,27.0
91,2020-12-20,-43.371429,-4.060000,-4.705000,-1.505714,-8.907143,-4.363333,-3.920000,-25.255714,-15.242000,...,12.0,66.0,49.0,89.0,10.0,7.0,7.0,42.0,20.0,0.0
92,2020-12-27,-85.496667,-15.684000,-9.928571,-6.328000,-7.308333,-4.660000,0.710000,-43.687143,-20.334286,...,15.0,76.0,37.0,81.0,7.0,7.0,7.0,34.0,18.0,0.0
93,2021-01-03,-91.295714,-12.983333,-7.828333,-5.020000,-11.434286,-6.390000,0.000000,-60.852857,-12.138571,...,12.0,98.0,48.0,82.0,10.0,8.0,7.0,39.0,16.0,0.0
94,2021-01-10,-56.401429,-6.036667,-6.966667,-2.935000,-1.381429,-3.157500,0.000000,-19.585714,-11.297143,...,10.0,79.0,35.0,57.0,9.0,9.0,6.0,39.0,18.0,0.0

In [48]:
df.to_csv("input/dataset_final_processed.csv")

In [49]:
print("I have ", len(df.columns)-1, " columns to play with")#columns=list(df.columns)

I have  119  columns to play with

# 27.12 Elliptic envelope and dimensionality reduction

- Reduce to 2D and plot graph of outliers
- https://medium.com/analytics-vidhya/a-complete-guide-on-dimensionality-reduction-62d9698013d2

How can i get back the outliers out of the decicions boundary, after a dimensionality reduction?

In [50]:
def outliers_graph(df, outlier_method, outliers_begin, threshold, xmin, xmax):
    
    xx, yy = np.meshgrid(np.linspace(xmin, xmax, 100), np.linspace(xmin, xmax, 100))
    Z = outlier_method.decision_function(np.c_[xx.ravel(), yy.ravel()])
    Z = Z.reshape(xx.shape)
    plt.figure(figsize=(20, 14))
    plt.contourf(xx, yy, Z, levels=np.linspace(Z.min(), threshold, xmax), cmap=plt.cm.Blues_r)
    a = plt.contour(xx, yy, Z, levels=[threshold], linewidths=2, colors='red')
    plt.contourf(xx, yy, Z, levels=[threshold, Z.max()], colors='orange')
    b = plt.scatter(df.iloc[:outliers_begin, 0], df.iloc[:outliers_begin, 1], c='white', s=20, edgecolor='k')
    c = plt.scatter(df.iloc[outliers_begin:, 0], df.iloc[outliers_begin:, 1], c='black', s=20, edgecolor='k')
    plt.axis('tight')
    '''
    # In case I'll use the axis unemployment and 1D proyection
    plt.ylim((-5,105)) # forcing the graph to fit my target range
    plt.title('Elliptic envelope over my target and a 1D proyection of my training set', fontsize=20)
    plt.xlabel('1D proyection', fontsize=16)
    plt.ylabel('Unemployment', fontsize=16)
    #
    '''
    plt.legend(
        [a.collections[0], b, c],
        ['Decision boundary', 'Valid instances', 'Outliers'],
        prop=matplotlib.font_manager.FontProperties(size=34),
        loc='lower right')
    plt.savefig('input/outliers.png')
    plt.show()

In [51]:
#outliers_dect= df.drop(columns=["date","unemployment"])

In [52]:
'''# this is for having a 2D representation with everything. The result is visually cool
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.decomposition import PCA as pca
from scipy import stats
from sklearn.covariance import EllipticEnvelope
import matplotlib.pyplot as plt
import matplotlib.font_manager

from sklearn.feature_selection import RFECV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import decomposition
pca=decomposition.PCA()
pca.n_components=2
pca_data=pca.fit_transform(outliers_dect)
pca_data=pd.DataFrame(pca_data)
pca_data.rename(columns={0:"a",1:"b"}, inplace=True)
pca_data.shape

import matplotlib.pyplot as plt
df_red = pca_data[pca_data.values==outliers]
# Limpieza de datos: detección de outliers.
outlier_method = EllipticEnvelope().fit(pca_data)
scores_pred = outlier_method.decision_function(pca_data)
threshold = stats.scoreatpercentile(scores_pred, 10) # remove just the heaviest outliers''
pca_data.min()
df["outliers_score"]=scores_pred
df =df[df["outliers_score"]>=threshold]
df.shape
# Ratio de outliers.
print("%.3f %%" % (100*len(scores_pred[scores_pred < threshold])/len(scores_pred)), "of the instances were removed")
# Dibujar gráfica de outliers.
plot_min=int(min(list(pca_data.min())))
plot_max=int(max(list(pca_data.max())))
outliers_graph(pca_data, outlier_method, 150, threshold, plot_min, plot_max)'''

'# this is for having a 2D representation with everything. The result is visually cool\nimport pandas as pd\nimport numpy as np\nfrom sklearn import preprocessing\nfrom sklearn.decomposition import PCA as pca\nfrom scipy import stats\nfrom sklearn.covariance import EllipticEnvelope\nimport matplotlib.pyplot as plt\nimport matplotlib.font_manager\n\nfrom sklearn.feature_selection import RFECV\nfrom sklearn.linear_model import LinearRegression\nfrom sklearn.linear_model import Lasso\nfrom sklearn import decomposition\npca=decomposition.PCA()\npca.n_components=2\npca_data=pca.fit_transform(outliers_dect)\npca_data=pd.DataFrame(pca_data)\npca_data.rename(columns={0:"a",1:"b"}, inplace=True)\npca_data.shape\n\nimport matplotlib.pyplot as plt\ndf_red = pca_data[pca_data.values==outliers]\n# Limpieza de datos: detección de outliers.\noutlier_method = EllipticEnvelope().fit(pca_data)\nscores_pred = outlier_method.decision_function(pca_data)\nthreshold = stats.scoreatpercentile(scores_pred, 10) # remove just the heaviest outliers\'\'\npca_data.min()\ndf["outliers_score"]=scores_pred\ndf =df[df["outliers_score"]>=threshold]\ndf.shape\n# Ratio de outliers.\nprint("%.3f %%" % (100*len(scores_pred[scores_pred < threshold])/len(scores_pred)), "of the instances were removed")\n# Dibujar gráfica de outliers.\nplot_min=int(min(list(pca_data.min())))\nplot_max=int(max(list(pca_data.max())))\noutliers_graph(pca_data, outlier_method, 150, threshold, plot_min, plot_max)'